<%= render 'shared/navbar' %>
<h1 class="text-center">Tweets Show</h1>
<div class="card text-center">
  <div class="card-header">User: <%= @tweet.user.name if @tweet.user %></div>
  <div class="card-body">
    <h5 class="card-title"><%= @tweet.title%></h5>
    <p class="card-text"><%= @tweet.description %>.</p>
  </div>
<div>
  <p>
       <%= link_to "Back to Index page", tweets_path, class: "btn-outline-dark" %>
     
  </p>
</div> 
      <div class="col-12 mt-3" id="new-comment">
        <%= render 'comments/form', object: @tweet %>
      </div>
  <div class="card-footer text-muted">
    <ul id="tweet-<%= @tweet.id %>-comments-container">
      <% @tweet.comments.reverse.each do |comment| %>
      <li class="mb-3">

        <%= render 'comments/show_comment', object: comment %>

      </li>
      <% end %>
    </ul>
  </div>
</div>
