<%= render 'shared/navbar' %>

<h1 class="text-center">Users Show</h1>
<div class="card text-center" id="user_show">
  <div class="card-header">User: <%= @user.name %></div>
    <% pre_follow = @follows.where("follower_id=?", current_user.id).all.where("followed_user_id=?", @user.id) %> 
    <p data-id="<%= current_user.id %>" data-profile_id="<%= @user.id %>", data-pre_follow="<%= pre_follow.length %>" class="follows_ids">
    <% if current_user.id != @user.id %>
      <%= button_to 'Unfollow', user_follow_path(current_user.id), class: "unfollow-button hidden", method: :delete %>
      <%= button_to 'Follow', user_follows_path(@user), method: :post, class: 'follow-button hidden' %>
    <% end %>
    </p>
  <div class="card-body">
    <h5 class="card-title"><%= @user.name%></h5>
    <p class="card-text"><%= @user.email %></p>
  </div>
</div>
