<%= render 'shared/navbar' %>

<h1 class="text-center">Users Show</h1>
<div class="card text-center">
  <div class="card-header">User: <%= @user.name %></div>

  <p>
    <% if current_user.id != @user.id %>
      <% pre_follow = @follows.where("follower_id=?", current_user.id).all.where("followed_user_id=?", @user.id) %> 
      <% if pre_follow.length > 0 %> 
        <%= button_to 'Unfollow', user_follow_path(current_user.id), remote: true, method: :delete, data: { confirm: "Are you sure?" } %>
      <% else %> <%= button_to 'Follow', user_follows_path(@user), remote: true, method: :post %>
      <% end %>
    <% end %>
  </p>

  <div class="card-body">
    <h5 class="card-title"><%= @user.name%></h5>
    <p class="card-text"><%= @user.email %></p>
  </div>
</div>
