<%= render 'shared/navbar' %>
<div  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp'); height: 900px;">
<div class='checkbox'> 
<h1><%= t('.sign_in') %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control form-width' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control form-width' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group form-check margin-cb">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label ml-5' do %>
        <%= resource.class.human_attribute_name('remember_me') %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group mt-3 mb-3">
    <%= f.submit  t('.sign_in'), class: 'btn btn-primary ' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
</div>
</div>